
CacheTests/.vs/CacheTests/FileContentIndex/fdca8c01-4c5a-40d8-9341-79aa55975ecd.vsidx
CacheTests/.vs/CacheTests/FileContentIndex/f8c6d19c-6220-480d-9d0d-182541172116.vsidx
CacheTests/.vs/CacheTests/FileContentIndex/eb0be7f0-eeb3-4200-ae8b-ef96e460c0a9.vsidx
CacheTests/.vs/CacheTests/FileContentIndex/94861f2d-0e68-460c-9847-5d4b2e379a63.vsidx
CacheTests/.vs/CacheTests/DesignTimeBuild/.dtbcache.v2
CacheTests/.vs/CacheTests/FileContentIndex/bda0284a-1151-4c32-9785-cebe35a3e059.vsidx
*.vsidx
